<p id="notice"><%= notice %></p>

        <%= link_to 'Edit', edit_indexpage_path(@index) %>


    <div id="mainVisual">
       <div id="slideshow5a0fef22563f8" class="slideshow"> 
       <% item = 0%>
<% @index.foto.split(',').each do |foto| %>
<% item +=1%>
     <style type="text/css">
        #slideshow5a0fef22563f8 div.item<%=item%>{background-image:url(media/foto/__thumbs_1400_900_crop/<%=foto%>);}
        @media only screen and ( max-width: 767px ) { #slideshow5a0fef22563f8 div.item<%=item%>{background-image:url(media/foto/__thumbs_740_561_crop/<%=foto%>);} }
      </style>

      <div class="slide item<%=item%>"></div>
   <%end%>
    <!--<img alt="" src="" class="slide" />-->
       </div>

<div id="controls">
  <div class="cycle-prev cycle-nav"></div>
  <div class="cycle-next cycle-nav"></div>
</div>

<!-- jQuery Scripts for Slide show -->

<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery('.slideshow').cycle({
    slides: '> div',
    fx:     'fade',
    speed:  300,
    timeout: 7000,
    prev: '.cycle-prev',
    next: '.cycle-next',
    slideResize:0,
    easeIn:  'swing',
    easeOut: 'swing',
    swipe: true
  });

});
</script>

    </div>  <!-- END #mainVisual -->

    <div class="checkrates">

    </div>

<div id="content" class="home">
  <div class="wrapper">
    <h1 class="mainTitle"><span class="homepage-title">Добро пожаловать в отель Golden Ring Hotel</span></h1>
    <h2 class="seoh2">До пляжа можно дойти всего за 1 минуту. </h2>
    <div class="contentButton">
      <a href="#" class="button_bg open"></a>
      <a href="#" class="close"></a>
    </div>  <!-- END .contentButton -->
    <div class="introText"><%= raw @index.description %>
</div> <!-- END .introText -->
  </div>  <!-- END .wrapper -->
</div>  <!-- END #content -->


<!-- PAGE SPECIFIC SCRIPTS -->
<script type="text/javascript">
$(document).ready(function(){

  $("#content").find('.introText').jScrollPane({mouseWheelSpeed: 30, verticalGutter: 30, autoReinitialise: true});

  $("#content .contentButton a ").click(function () {
    var el = $(this);
    if(el.parents().eq(1).hasClass("open")){
      el.parents().eq(1).removeClass("open");
    }else{
      el.parents().eq(1).addClass("open");
    }
  });
});

</script>
