<div id="subVisual">
  <div id="slideshow5a0ff997c1c18" class="slideshow">       <style type="text/css">
    #slideshow5a0ff997c1c18 div.item1{background-image:url(media/__thumbs_1400_502_crop/IMG_6252.JPG);}
    @media only screen and ( max-width: 767px ) { #slideshow5a0ff997c1c18 div.item1{background-image:none;} }
  </style>

  <div class="slide item1"></div>
  <!--<img alt="" src="" class="slide" />-->
  <style type="text/css">
    #slideshow5a0ff997c1c18 div.item2{background-image:url(media/__thumbs_1400_502_crop/IMG_6252.JPG);}
    @media only screen and ( max-width: 767px ) { #slideshow5a0ff997c1c18 div.item2{background-image:none;} }
  </style>

  <div class="slide item2"></div>
  <!--<img alt="" src="" class="slide" />-->
  <style type="text/css">
    #slideshow5a0ff997c1c18 div.item3{background-image:url(media/__thumbs_1400_502_crop/IMG_6333.JPG);}
    @media only screen and ( max-width: 767px ) { #slideshow5a0ff997c1c18 div.item3{background-image:none;} }
  </style>

  <div class="slide item3"></div>
  <!--<img alt="" src="" class="slide" />-->
  <style type="text/css">
    #slideshow5a0ff997c1c18 div.item4{background-image:url(media/__thumbs_1400_502_crop/IMG_6448.JPG);}
    @media only screen and ( max-width: 767px ) { #slideshow5a0ff997c1c18 div.item4{background-image:none;} }
  </style>

  <div class="slide item4"></div>
  <!--<img alt="" src="" class="slide" />-->
  <style type="text/css">
    #slideshow5a0ff997c1c18 div.item5{background-image:url(media/__thumbs_1400_502_crop/IMG_6346.JPG);}
    @media only screen and ( max-width: 767px ) { #slideshow5a0ff997c1c18 div.item5{background-image:none;} }
  </style>

  <div class="slide item5"></div>
  <!--<img alt="" src="" class="slide" />-->
  <style type="text/css">
    #slideshow5a0ff997c1c18 div.item6{background-image:url(media/__thumbs_1400_502_crop/IMG_6240.JPG);}
    @media only screen and ( max-width: 767px ) { #slideshow5a0ff997c1c18 div.item6{background-image:none;} }
  </style>

  <div class="slide item6"></div>
  <!--<img alt="" src="" class="slide" />-->
  <style type="text/css">
    #slideshow5a0ff997c1c18 div.item7{background-image:url(media/__thumbs_1400_502_crop/IMG_6287.JPG);}
    @media only screen and ( max-width: 767px ) { #slideshow5a0ff997c1c18 div.item7{background-image:none;} }
  </style>

  <div class="slide item7"></div>
  <!--<img alt="" src="" class="slide" />-->
</div>

<div id="controls">
  <div class="cycle-prev cycle-nav"></div>
  <div class="cycle-next cycle-nav"></div>
</div>

<!-- jQuery Scripts for Slide show -->

<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery('#subVisual .slideshow').cycle({
      slides: '> div',
      fx:     'fade',
      speed:  300,
      timeout: 7000,
      prev: '.cycle-prev',
      next: '.cycle-next',
      slideResize:0,
      easeIn:  'swing',
      easeOut: 'swing',
      swipe: true
    });

  });
</script>

</div>  <!-- END #mainVisual -->

<div class="checkrates">
  <div class="text-wrap">
  </div>
  <!-- <a class="check booking-link" href="https://www.booking.com/hotel/ru/voroniezh.ru.html?aid=964694&app_hotel_id=1519641&checkin=2017-12-30&checkout=2017-12-31&from_sn=android&group_adults=2&group_children=0&label=Share-VnsuLq%401510997643&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA#rt-lightbox-open-RD151964116" target="_blank">Показать цены</a> -->   </div>

  <div id="content" class="subpage">

    <div class="content-wrapper">

      <div class="detail">
        <span class="text">Номера</span>
      </div>

      <div class='has-sidebar-wrapper'>
        <h1 class="mainTitle">Номера</h1>
        <h2 class="seoh2">Насладитесь современными номерами рядом с Чёрным Морем</h2>
        <div class="first-content">
          <p>До пляжа можно дойти всего за 1 минуту. Отель «Золотое кольцо» с террасой и видом на сад расположен в Адлере, в 300 м от океанариума Sochi Discovery World Aquarium и в 70 м от побережья Черного моря. К услугам гостей бесплатный Wi-Fi.</p>

          <p>Все номера оснащены кондиционером и телевизором, а в некоторых из них обустроен гостиный уголок. В собственной ванной комнате установлен душ.</p>

          <p>Рядом с отелем «Золотое кольцо» работают различные кафе и рестораны. Поблизости также находятся магазины, бары, боулинг-центр и теннисный корт.</p>

          <p>В отеле работает экскурсионное бюро.</p>

          <p>Отель «Золотое кольцо» находится в 600 м от дельфинария «Акватория» и в 1,2 км от аквапарка «Амфибиус». Расстояние до центра Адлера составляет 1 км. Железнодорожный вокзал «Андлер» находится в 2,5 км от отеля «Золотое кольцо», а международный аэропорт Адлер-Сочи — в 5 км. </p>

          <p>арам особенно нравится расположение — они оценили проживание в этом районе для поездки вдвоем на 8,9.</p>

          <p>Мы говорим на вашем языке!</p>

          <p>Golden Ring Hotel: гостей здесь принимают с 3 нояб. 2015.</p>
        </div>
        <div class="second-content">

        </div>


        <div id="mod_pukkaSimpleRooms" class="moduleOutput viewList">
          <!---RUBY-->
          <div class="moduleBody">
            <%
            def get_pictures(id,crop)
              @files = []
              Dir.foreach(Room.find(id).foto + crop) do |foto|
               @files.push(Room.find(id).foto[7..-1] + crop + foto) if foto.include?("JPG")
             end
             return @files

             end%>

             <%cnt = 0%>
             <% @rooms.each do |room| %>
                        <% cnt+=1 %>
             <div class="moduleItemTab acc_<%=cnt%>">
              <div class="category item<%=cnt.to_s+ ' ' + room.name + ' '%> <%=p 'selected' if cnt == 1%>">
                <h3 class="accordionTitleModule"><%=room.name%><span class="button"></span></h3>
                <div class="accordion-content">
                  <div class="module<%="23"+cnt.to_s%>Nav tabs">
                    <ul class="resp-tabs-list">
                      <li id='tab<%=cnt+1%>'><span><%=room.name%></span></li>
                      <style>
                        .module<%="23"+cnt.to_s%>Nav.tabs .resp-tabs-list li{width:calc((100% / 1) - .6em); max-width: 150px;}
                      </style>
                    </ul>
                  </div>

                  <div class="mod_content resp-tabs-container">
                    <div  class="itemPreview alt" id="item<%=cnt+1%>">
                      <div class="itemPreviewImageSection">
                        <div class="icon"></div>
                        <div class="prevImage prevImage-<%="2"+cnt.to_s%>"></div>
                        <div class="nextImage nextImage-<%="2"+cnt.to_s%>"></div>



                        <div class="roomSlideshow-<%="2"+cnt.to_s%>" data-cycle-swipe="true">
                          <% thumbs_1400_502 = get_pictures(room.id,'__thumbs_1400_502_crop/') %>
                          <% thumbs_222_119 = get_pictures(room.id,'__thumbs_222_119_crop/') %>
                          <% 0.upto(thumbs_222_119.count-1).each do |fot| %>
                          <a class='slide' href="<%=thumbs_1400_502[fot]%>" rel="slideShow-<%="2"+cnt.to_s%>">
                            <img src="<%=thumbs_222_119[fot]%>" class="slide" width="222" height="119" />
                          </a>
                          <%end%>
                          <%thumbs_1400_502 =[]%>
                          <%thumbs_222_119 = []%> 
                        </div><!-- END .roomSlideshow -->             </div><!-- END .itemPreviewImageSection -->

                        <div class='itemContent'>
                          <h3 class="itemContentTitle"><%=room.name%></h3>
                          <span class="content"><p><%=room.description%></p></span>
                          <div class="read-more toggleContent">Узнать подробности</div>
                          <div class="read-less toggleContent">Скрыть подробности</div>
                        </div>
                        <div class="itemBottomContent">
                          <a class="booking-link button_bg" href="tel:+79184007026" target="_blank"><span class="booking-link-text">Узнайте цены сейчас!</span></a>           </div><!-- END .itemBottomContent -->

                          <script type='text/javascript'>
                            jQuery(function() {
                      if(jQuery().fancybox && $("#layout").css("float")!="none"){ //namespace check
                        var fancyBoxConf = {
                          'transitionIn'  : 'fade',
                          'transitionOut' : 'fade',
                          'speedIn':500,
                          'speedOut':500
                        };
                        $('a.slide[rel="slideShow-<%="2"+cnt.to_s%>"]').fancybox(fancyBoxConf);
                      }else{
                        $('img.slide').parent('.slide').removeAttr('href');
                      }


                      jQuery("#mod_pukkaSimpleRooms .category .itemPreview").each(function(){
                        jQuery(this).find('.icon').click(function(){
                          jQuery(jQuery(this).parent().find('a.slide.cycle-slide-active[rel="slideShow-<%="2"+cnt.to_s%>"]')).trigger('click');
                          return false;
                        });
                      });
                      jQuery('.roomSlideshow-<%="2"+cnt.to_s%>').cycle({
                        fx:     'fade',
                        speed:  '2000',
                        timeout: 7000,
                        slideResize:0,
                        prev: '.prevImage-<%="2"+cnt.to_s%>',
                        next: '.nextImage-<%="2"+cnt.to_s%>',
                        slides: '> a.slide'
                      });
                    });
                  </script>
                </div><!-- END  class="itemPreview alt" -->
              </div> <!--END accordion content -->
            </div><!-- END mod_content resp-tabs-container -->
          </div><!--END "category item<%=cnt.to_s+ ' ' + room.name + ' '%> <%=p 'selected' if cnt == 1%>" -->

        </div><!--END .moduleItemTab-->
        <%end%>

        <script type="text/javascript">

          jQuery(document).ready(function() {
            $('.moduleItemTab').easyResponsiveTabs({ closed: true });

            $('.read-more').click(function(){
              contentHeight = 0;
              $(this).parent().find("span.content").children().each(function(){ contentHeight += ($(this).outerHeight(true)); });
              $(this).parent().find('span.content').addClass("open").stop().animate({ height : contentHeight },200, function(){
                $(this).parent().find('span.content').css("height","auto");
              });
              $(this).hide();
              $(this).parent().addClass("open").find('.read-less').show();
            });
            $('.read-less').click(function(){
              $(this).parent().find('span.content').stop().animate({ height : '5em' },200).removeClass("open");
              $(this).hide();
              $(this).parent().removeClass("open").find('.read-more').show();
            });

          });
        </script>

      </div>
    </div>

    
  </div><!-- end .content-wrapper -->


  <!-- </div> -->  <!-- END .wrapper -->
</div>  <!-- END #content -->
</div>
</div>