<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/><script type="text/javascript">(window.NREUM||(NREUM={})).loader_config={xpid:"UQABVVdaGwsIUlFbDgM="};window.NREUM||(NREUM={}),__nr_require=function(t,n,e){function r(e){if(!n[e]){var o=n[e]={exports:{}};t[e][0].call(o.exports,function(n){var o=t[e][1][n];return r(o||n)},o,o.exports)}return n[e].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<e.length;o++)r(e[o]);return r}({1:[function(t,n,e){function r(t){try{s.console&&console.log(t)}catch(n){}}var o,i=t("ee"),a=t(15),s={};try{o=localStorage.getItem("__nr_flags").split(","),console&&"function"==typeof console.log&&(s.console=!0,o.indexOf("dev")!==-1&&(s.dev=!0),o.indexOf("nr_dev")!==-1&&(s.nrDev=!0))}catch(c){}s.nrDev&&i.on("internal-error",function(t){r(t.stack)}),s.dev&&i.on("fn-err",function(t,n,e){r(e.stack)}),s.dev&&(r("NR AGENT IN DEVELOPMENT MODE"),r("flags: "+a(s,function(t,n){return t}).join(", ")))},{}],2:[function(t,n,e){function r(t,n,e,r,o){try{d?d-=1:i("err",[o||new UncaughtException(t,n,e)])}catch(s){try{i("ierr",[s,c.now(),!0])}catch(u){}}return"function"==typeof f&&f.apply(this,a(arguments))}function UncaughtException(t,n,e){this.message=t||"Uncaught error with no additional information",this.sourceURL=n,this.line=e}function o(t){i("err",[t,c.now()])}var i=t("handle"),a=t(16),s=t("ee"),c=t("loader"),f=window.onerror,u=!1,d=0;c.features.err=!0,t(1),window.onerror=r;try{throw new Error}catch(l){"stack"in l&&(t(8),t(7),"addEventListener"in window&&t(5),c.xhrWrappable&&t(9),u=!0)}s.on("fn-start",function(t,n,e){u&&(d+=1)}),s.on("fn-err",function(t,n,e){u&&(this.thrown=!0,o(e))}),s.on("fn-end",function(){u&&!this.thrown&&d>0&&(d-=1)}),s.on("internal-error",function(t){i("ierr",[t,c.now(),!0])})},{}],3:[function(t,n,e){t("loader").features.ins=!0},{}],4:[function(t,n,e){function r(t){}if(window.performance&&window.performance.timing&&window.performance.getEntriesByType){var o=t("ee"),i=t("handle"),a=t(8),s=t(7),c="learResourceTimings",f="addEventListener",u="resourcetimingbufferfull",d="bstResource",l="resource",p="-start",h="-end",m="fn"+p,w="fn"+h,v="bstTimer",y="pushState",g=t("loader");g.features.stn=!0,t(6);var b=NREUM.o.EV;o.on(m,function(t,n){var e=t[0];e instanceof b&&(this.bstStart=g.now())}),o.on(w,function(t,n){var e=t[0];e instanceof b&&i("bst",[e,n,this.bstStart,g.now()])}),a.on(m,function(t,n,e){this.bstStart=g.now(),this.bstType=e}),a.on(w,function(t,n){i(v,[n,this.bstStart,g.now(),this.bstType])}),s.on(m,function(){this.bstStart=g.now()}),s.on(w,function(t,n){i(v,[n,this.bstStart,g.now(),"requestAnimationFrame"])}),o.on(y+p,function(t){this.time=g.now(),this.startPath=location.pathname+location.hash}),o.on(y+h,function(t){i("bstHist",[location.pathname+location.hash,this.startPath,this.time])}),f in window.performance&&(window.performance["c"+c]?window.performance[f](u,function(t){i(d,[window.performance.getEntriesByType(l)]),window.performance["c"+c]()},!1):window.performance[f]("webkit"+u,function(t){i(d,[window.performance.getEntriesByType(l)]),window.performance["webkitC"+c]()},!1)),document[f]("scroll",r,{passive:!0}),document[f]("keypress",r,!1),document[f]("click",r,!1)}},{}],5:[function(t,n,e){function r(t){for(var n=t;n&&!n.hasOwnProperty(u);)n=Object.getPrototypeOf(n);n&&o(n)}function o(t){s.inPlace(t,[u,d],"-",i)}function i(t,n){return t[1]}var a=t("ee").get("events"),s=t(18)(a,!0),c=t("gos"),f=XMLHttpRequest,u="addEventListener",d="removeEventListener";n.exports=a,"getPrototypeOf"in Object?(r(document),r(window),r(f.prototype)):f.prototype.hasOwnProperty(u)&&(o(window),o(f.prototype)),a.on(u+"-start",function(t,n){var e=t[1],r=c(e,"nr@wrapped",function(){function t(){if("function"==typeof e.handleEvent)return e.handleEvent.apply(e,arguments)}var n={object:t,"function":e}[typeof e];return n?s(n,"fn-",null,n.name||"anonymous"):e});this.wrapped=t[1]=r}),a.on(d+"-start",function(t){t[1]=this.wrapped||t[1]})},{}],6:[function(t,n,e){var r=t("ee").get("history"),o=t(18)(r);n.exports=r,o.inPlace(window.history,["pushState","replaceState"],"-")},{}],7:[function(t,n,e){var r=t("ee").get("raf"),o=t(18)(r),i="equestAnimationFrame";n.exports=r,o.inPlace(window,["r"+i,"mozR"+i,"webkitR"+i,"msR"+i],"raf-"),r.on("raf-start",function(t){t[0]=o(t[0],"fn-")})},{}],8:[function(t,n,e){function r(t,n,e){t[0]=a(t[0],"fn-",null,e)}function o(t,n,e){this.method=e,this.timerDuration="number"==typeof t[1]?t[1]:0,t[0]=a(t[0],"fn-",this,e)}var i=t("ee").get("timer"),a=t(18)(i),s="setTimeout",c="setInterval",f="clearTimeout",u="-start",d="-";n.exports=i,a.inPlace(window,[s,"setImmediate"],s+d),a.inPlace(window,[c],c+d),a.inPlace(window,[f,"clearImmediate"],f+d),i.on(c+u,r),i.on(s+u,o)},{}],9:[function(t,n,e){function r(t,n){d.inPlace(n,["onreadystatechange"],"fn-",s)}function o(){var t=this,n=u.context(t);t.readyState>3&&!n.resolved&&(n.resolved=!0,u.emit("xhr-resolved",[],t)),d.inPlace(t,w,"fn-",s)}function i(t){v.push(t),h&&(g=-g,b.data=g)}function a(){for(var t=0;t<v.length;t++)r([],v[t]);v.length&&(v=[])}function s(t,n){return n}function c(t,n){for(var e in t)n[e]=t[e];return n}t(5);var f=t("ee"),u=f.get("xhr"),d=t(18)(u),l=NREUM.o,p=l.XHR,h=l.MO,m="readystatechange",w=["onload","onerror","onabort","onloadstart","onloadend","onprogress","ontimeout"],v=[];n.exports=u;var y=window.XMLHttpRequest=function(t){var n=new p(t);try{u.emit("new-xhr",[n],n),n.addEventListener(m,o,!1)}catch(e){try{u.emit("internal-error",[e])}catch(r){}}return n};if(c(p,y),y.prototype=p.prototype,d.inPlace(y.prototype,["open","send"],"-xhr-",s),u.on("send-xhr-start",function(t,n){r(t,n),i(n)}),u.on("open-xhr-start",r),h){var g=1,b=document.createTextNode(g);new h(a).observe(b,{characterData:!0})}else f.on("fn-end",function(t){t[0]&&t[0].type===m||a()})},{}],10:[function(t,n,e){function r(t){var n=this.params,e=this.metrics;if(!this.ended){this.ended=!0;for(var r=0;r<d;r++)t.removeEventListener(u[r],this.listener,!1);if(!n.aborted){if(e.duration=a.now()-this.startTime,4===t.readyState){n.status=t.status;var i=o(t,this.lastSize);if(i&&(e.rxSize=i),this.sameOrigin){var c=t.getResponseHeader("X-NewRelic-App-Data");c&&(n.cat=c.split(", ").pop())}}else n.status=0;e.cbTime=this.cbTime,f.emit("xhr-done",[t],t),s("xhr",[n,e,this.startTime])}}}function o(t,n){var e=t.responseType;if("json"===e&&null!==n)return n;var r="arraybuffer"===e||"blob"===e||"json"===e?t.response:t.responseText;return h(r)}function i(t,n){var e=c(n),r=t.params;r.host=e.hostname+":"+e.port,r.pathname=e.pathname,t.sameOrigin=e.sameOrigin}var a=t("loader");if(a.xhrWrappable){var s=t("handle"),c=t(11),f=t("ee"),u=["load","error","abort","timeout"],d=u.length,l=t("id"),p=t(14),h=t(13),m=window.XMLHttpRequest;a.features.xhr=!0,t(9),f.on("new-xhr",function(t){var n=this;n.totalCbs=0,n.called=0,n.cbTime=0,n.end=r,n.ended=!1,n.xhrGuids={},n.lastSize=null,p&&(p>34||p<10)||window.opera||t.addEventListener("progress",function(t){n.lastSize=t.loaded},!1)}),f.on("open-xhr-start",function(t){this.params={method:t[0]},i(this,t[1]),this.metrics={}}),f.on("open-xhr-end",function(t,n){"loader_config"in NREUM&&"xpid"in NREUM.loader_config&&this.sameOrigin&&n.setRequestHeader("X-NewRelic-ID",NREUM.loader_config.xpid)}),f.on("send-xhr-start",function(t,n){var e=this.metrics,r=t[0],o=this;if(e&&r){var i=h(r);i&&(e.txSize=i)}this.startTime=a.now(),this.listener=function(t){try{"abort"===t.type&&(o.params.aborted=!0),("load"!==t.type||o.called===o.totalCbs&&(o.onloadCalled||"function"!=typeof n.onload))&&o.end(n)}catch(e){try{f.emit("internal-error",[e])}catch(r){}}};for(var s=0;s<d;s++)n.addEventListener(u[s],this.listener,!1)}),f.on("xhr-cb-time",function(t,n,e){this.cbTime+=t,n?this.onloadCalled=!0:this.called+=1,this.called!==this.totalCbs||!this.onloadCalled&&"function"==typeof e.onload||this.end(e)}),f.on("xhr-load-added",function(t,n){var e=""+l(t)+!!n;this.xhrGuids&&!this.xhrGuids[e]&&(this.xhrGuids[e]=!0,this.totalCbs+=1)}),f.on("xhr-load-removed",function(t,n){var e=""+l(t)+!!n;this.xhrGuids&&this.xhrGuids[e]&&(delete this.xhrGuids[e],this.totalCbs-=1)}),f.on("addEventListener-end",function(t,n){n instanceof m&&"load"===t[0]&&f.emit("xhr-load-added",[t[1],t[2]],n)}),f.on("removeEventListener-end",function(t,n){n instanceof m&&"load"===t[0]&&f.emit("xhr-load-removed",[t[1],t[2]],n)}),f.on("fn-start",function(t,n,e){n instanceof m&&("onload"===e&&(this.onload=!0),("load"===(t[0]&&t[0].type)||this.onload)&&(this.xhrCbStart=a.now()))}),f.on("fn-end",function(t,n){this.xhrCbStart&&f.emit("xhr-cb-time",[a.now()-this.xhrCbStart,this.onload,n],n)})}},{}],11:[function(t,n,e){n.exports=function(t){var n=document.createElement("a"),e=window.location,r={};n.href=t,r.port=n.port;var o=n.href.split("://");!r.port&&o[1]&&(r.port=o[1].split("/")[0].split("@").pop().split(":")[1]),r.port&&"0"!==r.port||(r.port="https"===o[0]?"443":"80"),r.hostname=n.hostname||e.hostname,r.pathname=n.pathname,r.protocol=o[0],"/"!==r.pathname.charAt(0)&&(r.pathname="/"+r.pathname);var i=!n.protocol||":"===n.protocol||n.protocol===e.protocol,a=n.hostname===document.domain&&n.port===e.port;return r.sameOrigin=i&&(!n.hostname||a),r}},{}],12:[function(t,n,e){function r(){}function o(t,n,e){return function(){return i(t,[f.now()].concat(s(arguments)),n?null:this,e),n?void 0:this}}var i=t("handle"),a=t(15),s=t(16),c=t("ee").get("tracer"),f=t("loader"),u=NREUM;"undefined"==typeof window.newrelic&&(newrelic=u);var d=["setPageViewName","setCustomAttribute","setErrorHandler","finished","addToTrace","inlineHit","addRelease"],l="api-",p=l+"ixn-";a(d,function(t,n){u[n]=o(l+n,!0,"api")}),u.addPageAction=o(l+"addPageAction",!0),u.setCurrentRouteName=o(l+"routeName",!0),n.exports=newrelic,u.interaction=function(){return(new r).get()};var h=r.prototype={createTracer:function(t,n){var e={},r=this,o="function"==typeof n;return i(p+"tracer",[f.now(),t,e],r),function(){if(c.emit((o?"":"no-")+"fn-start",[f.now(),r,o],e),o)try{return n.apply(this,arguments)}finally{c.emit("fn-end",[f.now()],e)}}}};a("setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","),function(t,n){h[n]=o(p+n)}),newrelic.noticeError=function(t){"string"==typeof t&&(t=new Error(t)),i("err",[t,f.now()])}},{}],13:[function(t,n,e){n.exports=function(t){if("string"==typeof t&&t.length)return t.length;if("object"==typeof t){if("undefined"!=typeof ArrayBuffer&&t instanceof ArrayBuffer&&t.byteLength)return t.byteLength;if("undefined"!=typeof Blob&&t instanceof Blob&&t.size)return t.size;if(!("undefined"!=typeof FormData&&t instanceof FormData))try{return JSON.stringify(t).length}catch(n){return}}}},{}],14:[function(t,n,e){var r=0,o=navigator.userAgent.match(/Firefox[\/\s](\d+\.\d+)/);o&&(r=+o[1]),n.exports=r},{}],15:[function(t,n,e){function r(t,n){var e=[],r="",i=0;for(r in t)o.call(t,r)&&(e[i]=n(r,t[r]),i+=1);return e}var o=Object.prototype.hasOwnProperty;n.exports=r},{}],16:[function(t,n,e){function r(t,n,e){n||(n=0),"undefined"==typeof e&&(e=t?t.length:0);for(var r=-1,o=e-n||0,i=Array(o<0?0:o);++r<o;)i[r]=t[n+r];return i}n.exports=r},{}],17:[function(t,n,e){n.exports={exists:"undefined"!=typeof window.performance&&window.performance.timing&&"undefined"!=typeof window.performance.timing.navigationStart}},{}],18:[function(t,n,e){function r(t){return!(t&&t instanceof Function&&t.apply&&!t[a])}var o=t("ee"),i=t(16),a="nr@original",s=Object.prototype.hasOwnProperty,c=!1;n.exports=function(t,n){function e(t,n,e,o){function nrWrapper(){var r,a,s,c;try{a=this,r=i(arguments),s="function"==typeof e?e(r,a):e||{}}catch(f){l([f,"",[r,a,o],s])}u(n+"start",[r,a,o],s);try{return c=t.apply(a,r)}catch(d){throw u(n+"err",[r,a,d],s),d}finally{u(n+"end",[r,a,c],s)}}return r(t)?t:(n||(n=""),nrWrapper[a]=t,d(t,nrWrapper),nrWrapper)}function f(t,n,o,i){o||(o="");var a,s,c,f="-"===o.charAt(0);for(c=0;c<n.length;c++)s=n[c],a=t[s],r(a)||(t[s]=e(a,f?s+o:o,i,s))}function u(e,r,o){if(!c||n){var i=c;c=!0;try{t.emit(e,r,o,n)}catch(a){l([a,e,r,o])}c=i}}function d(t,n){if(Object.defineProperty&&Object.keys)try{var e=Object.keys(t);return e.forEach(function(e){Object.defineProperty(n,e,{get:function(){return t[e]},set:function(n){return t[e]=n,n}})}),n}catch(r){l([r])}for(var o in t)s.call(t,o)&&(n[o]=t[o]);return n}function l(n){try{t.emit("internal-error",n)}catch(e){}}return t||(t=o),e.inPlace=f,e.flag=a,e}},{}],ee:[function(t,n,e){function r(){}function o(t){function n(t){return t&&t instanceof r?t:t?c(t,s,i):i()}function e(e,r,o,i){if(!l.aborted||i){t&&t(e,r,o);for(var a=n(o),s=h(e),c=s.length,f=0;f<c;f++)s[f].apply(a,r);var d=u[y[e]];return d&&d.push([g,e,r,a]),a}}function p(t,n){v[t]=h(t).concat(n)}function h(t){return v[t]||[]}function m(t){return d[t]=d[t]||o(e)}function w(t,n){f(t,function(t,e){n=n||"feature",y[e]=n,n in u||(u[n]=[])})}var v={},y={},g={on:p,emit:e,get:m,listeners:h,context:n,buffer:w,abort:a,aborted:!1};return g}function i(){return new r}function a(){(u.api||u.feature)&&(l.aborted=!0,u=l.backlog={})}var s="nr@context",c=t("gos"),f=t(15),u={},d={},l=n.exports=o();l.backlog=u},{}],gos:[function(t,n,e){function r(t,n,e){if(o.call(t,n))return t[n];var r=e();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(t,n,{value:r,writable:!0,enumerable:!1}),r}catch(i){}return t[n]=r,r}var o=Object.prototype.hasOwnProperty;n.exports=r},{}],handle:[function(t,n,e){function r(t,n,e,r){o.buffer([t],r),o.emit(t,n,e)}var o=t("ee").get("handle");n.exports=r,r.ee=o},{}],id:[function(t,n,e){function r(t){var n=typeof t;return!t||"object"!==n&&"function"!==n?-1:t===window?0:a(t,i,function(){return o++})}var o=1,i="nr@id",a=t("gos");n.exports=r},{}],loader:[function(t,n,e){function r(){if(!x++){var t=b.info=NREUM.info,n=l.getElementsByTagName("script")[0];if(setTimeout(u.abort,3e4),!(t&&t.licenseKey&&t.applicationID&&n))return u.abort();f(y,function(n,e){t[n]||(t[n]=e)}),c("mark",["onload",a()+b.offset],null,"api");var e=l.createElement("script");e.src="https://"+t.agent,n.parentNode.insertBefore(e,n)}}function o(){"complete"===l.readyState&&i()}function i(){c("mark",["domContent",a()+b.offset],null,"api")}function a(){return E.exists&&performance.now?Math.round(performance.now()):(s=Math.max((new Date).getTime(),s))-b.offset}var s=(new Date).getTime(),c=t("handle"),f=t(15),u=t("ee"),d=window,l=d.document,p="addEventListener",h="attachEvent",m=d.XMLHttpRequest,w=m&&m.prototype;NREUM.o={ST:setTimeout,CT:clearTimeout,XHR:m,REQ:d.Request,EV:d.Event,PR:d.Promise,MO:d.MutationObserver};var v=""+location,y={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-1026.min.js"},g=m&&w&&w[p]&&!/CriOS/.test(navigator.userAgent),b=n.exports={offset:s,now:a,origin:v,features:{},xhrWrappable:g};t(12),l[p]?(l[p]("DOMContentLoaded",i,!1),d[p]("load",r,!1)):(l[h]("onreadystatechange",o),d[h]("onload",r)),c("mark",["firstbyte",s],null,"api");var x=0,E=t(17)},{}]},{},["loader",2,10,4,3]);</script>
	<meta http-equiv="Content-Language" content="" />
	<title>Голден Ринг Отель| Отдых на Черном Море</title>
	<meta name="description" content="Добро пожаловать в отель Golden Ring Hotel." />
	<meta name="copyright" content="" />
	<meta name="publisher" content="" />
	<meta name="google-site-verification" content="" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width, maximum-scale=1.0" />
	<meta name="format-detection" content="telephone=no"/>

	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />

<script type="text/javascript">if(window.top.location!=document.location)window.top.location.href=document.location.href;</script>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700italic,300" rel="stylesheet" type="text/css"/>
<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet" type="text/css"/>


	<!-- BEGIN: ADDED HEADER CONTENT -->
	<script type="text/javascript" src="condor/js/essentials.js"></script>
			<script type="text/javascript">
			//<![CDATA[
				condor.siteBaseHREF     = 'http://golden-ring.ru.com/';
				condor.templateBaseHREF = 'http://golden-ring.ru.com/media/templates/main/';
				condor.condorBaseHREF   = 'http://golden-ring.ru.com/condor/';
				condor.currentLanguage  = 'ru';
				condor.dataSection      = 'hiltongardeninn';
			//]]>
			</script>

<link type="text/css" rel="stylesheet" href="media/merged/photos_viewItem_item131_f1_2017-10-06-05-14_1906061459.css" />
<link rel="stylesheet" type="text/css" href="media/templates/main/css/fonts/stylesheet.css"/>
<% if request.original_fullpath == "/indexpages" %>
<link type="text/css" rel="stylesheet" href="media/merged/global_f7_2015-04-09-02-10_1857596099.css" />
<link type="text/css" rel="stylesheet" href="media/merged/none_f2_2015-04-17-02-24_4011292717.css" />
<%else%>
<link type="text/css" rel="stylesheet" href="media/merged/none_f2_2015-04-17-02-24_4011292717.css" />
<link type="text/css" rel="stylesheet" href="media/merged/global_f7_2015-04-09-02-10_1857596099.css" />
<%end%>
<link type="text/css" rel="stylesheet" href="media/merged/none_f2_2015-04-17-02-24_1958879522.css" />
<link type="text/css" rel="stylesheet" href="media/merged/widget_styles_f2_2015-04-07-06-25_743293303.css" />
<link rel="stylesheet" type="text/css" href="media/templates/main/css/lang.ru.css"/>
<link rel="stylesheet" type="text/css" href="media/templates/main/css/module.css"/>
<script type="text/javascript" src="media/merged/global_f9_2015-04-06-00-54_1360891556.js"></script>
<script type="text/javascript" src="media/merged/global_f11_2015-04-06-00-54_3564736055.js"></script>
<script type="text/javascript" src="media/merged/none_f1_2015-04-06-00-54_835709338.js"></script>
<!-- <script type="text/javascript" src="media/templates/main/libs/jquery/jquery-datepicker/lang/jquery.ui.datepicker-ru.js"></script> -->
<script type="text/javascript" src="condor/modules/imageSwitch/javascript.imageSwitch.js"></script>
<link rel="stylesheet" type="text/css" href="condor/modules/imageSwitch/style.imageSwitch.css"/>
<!-- <script src="//cdn.jsdelivr.net/g/jquery@1.11.0"></script> -->

<!-- <script src="//cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.min.js"></script> -->

<style type="text/css">
/* ======================== HEADER STYLES ======================== */
    #header{background-color: rgba(0, 0, 0, 0);}

/* ======================== BODY TEXT STYLES ======================== */
body{
    font-family: 'Open Sans',sans-serif;
    color: #565656;
}
    p{
        font-size: 0.813em;
    }
        a, div.toggleContent{
            color: #e33a64;
        }
            a:not(.booking-link):hover{
             color: #011b3b;
            }
h1, h2, h3, h4{
    font-family: 'quicksandregular',sans-serif;
}
    h1{
        font-size: 3.125em;
        color: #5e5e60;
    }
        h2{
            font-size: 1.09em;
            color: #5e5e60;
        }
            h3{
                font-size: 1.250em;
                color: #4d4d4d;
            }
                h4{
                    font-size: 1em;
                    color: #5e5e60;
                }

/* ======================== MAIN NAV STYLES ======================== */
.main-nav{
    font-family: 'quicksandbold',sans-serif;
}
    .main-nav > ul > li.level1 > a{
        color:#fff;
    }
        .main-nav > ul > li.level1 > a:hover{
            color:#fff;
        }
            .main-nav ul li.level1.active, .main-nav ul li.level1.active-under,.main-nav > ul li.level1.has-submenu.active-under.active{
                border-top-color:#fff;
            }
                .main-nav > ul > li.level1.active > a, .main-nav > ul > li.level1.active-under > a{
                    color:#fff;
                }

/* ======================== SUB NAV STYLES ======================== */
.main-nav ul li > ul.menuLevel2{
    font-size: 0.84em;
}
    .main-nav ul li ul.menuLevel2 li a, .main-nav ul li ul.menuLevel2 li.active > a:hover{
        color: #fff;
    }
        .main-nav ul li ul.menuLevel2 li a:hover{
            color:#fff;
        }
        body:not(.mobile-layout) .main-nav ul li .menuLevel2 li.active > a:before{ /* This style controls the color of the Active submenu item's background color */
            background-color: #46bae5;
        }

/* ======================== BUTTON STYLES ======================== */
.button_bg, .jspDrag, .language-toggle div.jw-languages-1col-sm:before, .tabs .resp-tabs-list li, .language-toggle div.jw-languages-1col-sm.dropdown ul li ul li:hover, #mainVisual .mainSliderControls div.cycle-pager-active:after, #subVisual .mainSliderControls div.cycle-pager-active:after, form.flexibleForm button.submit, #mod_flexibleForms .selector:before{
    background-color: #0b509d;
    -webkit-transition: background-color .2s ease-in-out;-moz-transition: background-color .2s ease-in-out;-o-transition: background-color .2s ease-in-out;transition: background-color .2s ease-in-out;
}
    .button_bg:hover, .jspDrag:active, .language-toggle div.jw-languages-1col-sm:hover:before, form.flexibleForm button.submit:hover, #mod_flexibleForms .selector:hover:before{
        background-color: #011b3b;
    }
        .button_bg{
            font-family: quicksandbold;;
            color:#ffffff;
        }

.accordionTitleModule, .moduleItemTab .resp-accordion{
    font-family: 'quicksandbold',sans-serif;
    color: #ffffff;
    background-color: #0b509d;
}
    .selected .accordionTitleModule, .moduleItemTab .resp-accordion.resp-tab-active{
        color: #4d4d4d;
        background-color: #ffffff;
        border-bottom-color: #0b509d;
    }
        .tabs .resp-tabs-list li{
            color: #ffffff;
            background-color: #0b509d;
        }
            .tabs .resp-tabs-list li.resp-tab-active{
                color: #4d4d4d;
            }

/* ======================== BOOKINGMASK STYLES ======================== */
.bookingmask .bestrate{
    font-family: 'quicksandregular',sans-serif;
    font-size: 1em;
}
    .bookingmask .bestrate .from, #booking-mask .bestrate .label, .checkrates .label{
        color: #2f3033;
    }
    .bookingmask .bestrate .price, .bookingmask .bestrate .rate, .checkrates .rate, .checkrates .per{
        color: #001937;
    }
        #booking-form button, .checkrates .check, .closed-nav-mob{
            color: #ffffff;
            background-color: #033776;
            background-image: -moz-linear-gradient(top, #033776, #001a38);
            background-image: -ms-linear-gradient(top, #033776, #001a38);
            background-image: -o-linear-gradient(top, #033776, #001a38);
            background-image: -webkit-gradient(linear, center top, center bottom, from(#033776), to(#001a38));
            background-image: -webkit-linear-gradient(top, #033776, #001a38);
            background-image: linear-gradient(top, #033776, #001a38);
        }

/* ======================== SPECIALS ROTATOR STYLES ======================== */
.specialsRotator .packageTitle{
    color: #fff;
}
    .specialsRotator .packageContent{
        color: #fff;
    }
        .specialsRotator .prevPackage:after, .specialsRotator .nextPackage:after{
            color: #185dac;
        }
            .specialsRotator .prevPackage:hover:after, .specialsRotator .nextPackage:hover:after{
            color: #011b3b;
        }
            .specialsRotator .control > div:after{
                background-color: #185dac;
            }
                .specialsRotator .control div.cycle-pager-active{
                    background-color: #011b3b;
                }

/* ======================== RFP FORM STYLES ======================== */
form.flexibleForm label.fieldLabel{
    font-family: 'Open Sans',sans-serif;
    font-size: 0.813em;
    color: #000000;
}

/* ======================== PHOTO GALLERY STYLES ======================== */
#gallery-pager .thumb-image.cycle-slide-active span.pager-ico{
    outline-color: #0b509d;
}
    .gallerynav{
        font-family: 'Open Sans', sans-serif;
    }
        .gallerynav .galleryOptions a{
            color: #ffffff;
        }
            .gallerynav .galleryOptions a:hover{
                color: #ffffff;
            }
                .gallerynav span{
                    color: #565656;
                }

/* ======================== SOCIAL MEDIA ICON STYLES ======================== */
#footer .social li a:after{
    color:#ffffff;
    background-color: #2f3033;
}

/* ======================== MOBILE LAYOUT/COLORS ======================== */
@media only screen and ( max-width: 767px ) { /* Mobile Layout Specific Colors */
.tel-mobile a,.tel-mobile a:hover, .tel-mobile span:before{
    color: #ffffff;
}
.tel-mobile{
    background-color: #484848;
}
    .icon-menu{
        background-color: #cccccc;
    }
        .main-nav ul li{
            background-color: #ffffff;
        }
            .main-nav ul li.level1.has-submenu.active{
                background-color: #f5f5f5;
            }
                .main-nav ul li.level1.has-submenu ul li{
                    background-color: #e7e7e7;
                }
                    .main-nav ul.shortcuts li:after{
                        color: #2f3033;
                    }
}
</style>
</head>
<% if request.original_fullpath == "/" %>
<body id="page_home" class="ru">
<%elsif request.original_fullpath.include?("fotos")%>
<body id="page_photos" class="ru">
<%elsif request.original_fullpath.include?("rooms")%>
<body id="page_rooms" class="ru">
<%elsif request.original_fullpath.include?("locations")%>
<body id="page_location" class="ru">
<%end%>

	<div id="header">

			<div class="top-header">
				<div class="icon-menu"></div>
				<div class="tel-mobile"><span><a href="tel:+79184007026">+ 7 918 400 70 26</a></span></div>
			</div>

			<div class="logo">
									<%=link_to '', indexpages_path %>
							</div>  <!-- END .logo -->

			<!--<div class="langauge">
				<a class="en active" href="http://golden-ring.ru.com/default-en.html"></a>
				<a class="pt " href="http://golden-ring.ru.com/default-pt.html"></a>
				<a class="es " href="http://golden-ring.ru.com/default-es.html"></a>
			</div> --> <!-- END .langauge -->

			<!--Mobile Navigation-->
			<div class="closed-nav-mob">Скрыть</div>

			<div class="main-nav nav"><ul class="shortcuts"
			><li class="shortcut1 item1 itemr7 level1 photos"
				><%= link_to 'Фотогалерея', fotos_path%></li
			><li class="shortcut2 item2 itemr6 level1 rooms"
				><%= link_to 'Номера', rooms_path%></li
			><li class="shortcut6 item6 itemr2 level1 location"
				><%= link_to 'Расположение', locations_path%></li
		></ul>
		</div>
		<script type="text/javascript">
			condor.updatePageMenus = condor.updatePageMenus || function() {
				var pageMenus = getElementsByClass('shortcuts', null, 'ul');
				for (var j=0; j<pageMenus.length; ++j) {
					var nojsList = getElementsByClass('active-nojs', pageMenus[j]);
					for (var i=0; i<nojsList.length; ++i) {
						removeClass(nojsList[i], 'active-nojs');
					}
				}
			}
			condor.updatePageMenus();
		//]]>
		</script>
	</div>  <!-- END #header -->

	<div class="overlay-nav"></div>
<!-- OtelMS -->
	
    <iframe id="bookingmask" style="border: 0" 
 src="http://goldenring-book-m.otelms.com/bookit/step1/?inline=true" 
 ></iframe> 

<script type="text/javascript"> 
    var myEventMethod = window.addEventListener ? "addEventListener" : "attachEvent"; 
    var myEventListener = window[myEventMethod]; 
    var myEventMessage = myEventMethod == "attachEvent" ? "booking" : "message"; 
    myEventListener(myEventMessage, function(e) { 
        if (e.data === parseInt(e.data)) { 
            document.getElementById('bookingmask').style.height = 520 + "px"; 
            console.log(e.data); 
        } 
    }, false); 
</script>
</div>
	<div class="specialsRotator">
				<div class="mod_core widget_rotator widget">
	<ul class="widget-content">

		<li class="item item1">
			<div class="packageTitle">Возможны Скидки!</div>
			<div class="packageContent">
				<span>Узнайте о наших предложениях!&hellip;</span>
			</div>
											<p><a class="learnMore" onclick="_gaq.push(['default._trackEvent','Click','Learn More','Скидки!']);" href="tel:+79184007026">Узнайте подробности</a></p>
			 
		</li>
		<li class="item item2">
			<div class="packageTitle">Контакты</div>
			<div class="packageContent">
				<span>Адлер ,Улица Просвещения 85в,тел:. +7 (918) 400-70-26&hellip;</span>
			</div>
											<p><a class="learnMore" onclick="_gaq.push(['default._trackEvent','Click','Learn More','Скидки!']);" href="tel:+79184007026">Узнайте подробности</a></p>
			 
		</li>		
	</ul>
	<hr class="specialsHr" />
	<div class="control"></div>
	<div class="nav-arrows">
		<div class="prevPackage"></div>
		<div class="nextPackage"></div>
	</div>
</div>

<script type="text/javascript">
/* <![CDATA[ */
jQuery(document).ready(function() {
	jQuery('ul.widget-content').cycle({
		fx:     'fade',
		speed:  '1000',
		timeout: 7000,
		prev: '.prevPackage',
		next: '.nextPackage',
		pagerEvent: 'click',
		pager:      '.control',
		slideResize:0,
		easeIn:  'swing',
		easeOut: 'swing',
		slides: '> li',
		pagerTemplate: '<div></div>'
	});

});
/* ]]> */
</script>

	</div>  <!-- END .specials -->
<!-- end of OtelMS -->
   

   <%= yield %>

<!--_______________________________________END OF YELD ____________-->

		<div id="footer">
		<div class="footer-top">

		<div class="language-toggle">
<span class="toggle-label">Язык</span>
<div class="jw-widget jw-widget-1col jw-languages-1col-sm jw_languages-name-dropdown jw-languages4 align-left dropdown false">
	<ul class="jw-languages-list">
						<li class="active has-submenu">
						<a title="Русский" class="active-item">Русский</a>
						<ul>
<li class='lng_en'><a href='index-en.html' title='English'> English</a></li><li class='lng_ru selected last'><a href='index.html' title='Русский'> Русский</a></li>					</ul>
				</li>

			</ul>
</div><!-- jw-widget -->
</div><!-- END .language-toggle -->

	<script type="text/javascript">	
			/* <![CDATA[ */
			jQuery(document).ready(function(){			
				jQuery('.jw-languages4').click(function() {
					var elem = jQuery(this);
					if (elem.hasClass("open")){ elem.removeClass("open"); }
					else { elem.addClass("open"); }
				});
			});
			/* ]]> */	
			</script>

			<div class="social">
				<!-- Begin Social Media Icons -->

<!---<ul>

	<li class="facebook">
		<a target="_blank" href="https://www.facebook.com/hiltongardeninnmoscownewriga?ref=hl" title="Facebook"></a>
	</li>	<li class="twitter">
		<a target="_blank" href="https://twitter.com/hiltonhhonors" title="Twitter"></a>
	</li>	<li class="tripadvisor">
		<a target="_blank" href="http://www.tripadvisor.ru/Hotel_Review-g2323955-d5488936-Reviews-Hilton_Garden_Inn_Moscow_New_Riga-Moscow_Oblast_Central_Russia.html" title="Trip Advisor"></a>
	</li>	<li class="youtube">
		<a target="_blank" href="http://www.youtube.com/channel/UCK0duRHVshpmGG6RgMMomHA" title="Youtube"></a>
	</li>	<li class="googleplus">
		<a target="_blank" href="https://plus.google.com/101900214707230157967/posts" title="Google Plus"></a>
	</li>
</ul> -->
<!-- End Social Media Icons -->

			</div> <!-- END .social -->
			
			
			<!-- <div class="hiltonHonors"><a target="_blank" href="http://www.booking.com/Share-VnsuLq" title="Booking"></a></div> -->

		</div><!-- END .footer-top -->

		<div class="footer-bottom">
			<div class="address">
				<span class="title">© 2017 | <span style="color: #414141;"><span style="font-size: small;">Golden Ring Hotel</span></span></span>
				<br />
				Россия, Краснодарский край, Адлер, ул. Просвещения  85B  |
				<a href="tel:+%207%20498%20400%2070%2026"> +7 (918) 400-70-26</a>
				<br />
			</div> <!-- END .address -->
		</div><!-- END .footer-bottom -->
	</div>  <!-- END #footer -->

<a id="layout"></a><!-- DO NOT REMOVE THIS ANCHOR TAG -->

<script type="text/javascript">
(function($) {
  $(function() {

//<![CDATA[
	$(document).ready(function(){
		// BEGIN: onLoadScript
		//Add google parameters to links and forms
			if (typeof addGaTrackingLinksAndForms === "function") { 
				addGaTrackingLinksAndForms();
			}
		// END: onLoadScript

		// fancybox PNG file location fix - Please Do NOT remove the below line.
		fancyboxIEPngLocationFix.fix("http://golden-ring.ru.com/media/templates/main/libs/$/fancybox/");

		//add target="_blank" to any pdf file on the site
		$("a[href$='pdf']").attr('target','_blank');
		$('.type_date .fieldInput').datepicker({ dateFormat: 'mm/dd/yy', minDate:0, firstDay:0 });

		/***********************************************************************************************
		* MENU NAVIGATION SCRIPTS - START
		***********************************************************************************************/

		// Move sub-menu content into .more main-nav menu item
		$(".more").addClass('has-submenu');
		$(".sub-nav ul.shortcuts").removeClass("shortcuts").addClass("menuLevel2").appendTo(".more");
		if($(".more").find("li").hasClass("active")){
			$(".more").addClass("active-under");
		}

		 // Cache Element Selectors
		mainMenu = $(".main-nav");
		subMenu = $(".main-nav ul.shortcuts > .has-submenu");

		 // Adjust the right positioning of submenus so that they dynamically adjust to added/removed menuitems
		$(subMenu).each(function(){
			if(!($(this).hasClass("more")) ){ // Exclude the MORE dropdown
				position = $(this).position();
				pright = ( $(window).width() - ( $(this).find('.menuLevel2').innerWidth() + position.left ) ); // Calculate value for submenu right position
				$(this).find('.menuLevel2').css("right", pright);
			}
		});


		 // Main Menu Animation
		var animating = false; //This is used to disable Click functionality while the Menu is being animated

		$(subMenu).click(function(){ // Controls Menu Item Animations onClick
				if ( layout!="mobile" ) { // If layout is Desktop or Tablet
					subHeight = 0;
					$(this).find(".menuLevel2").children().each(function(){ // Set subHeight equal to outerHeight of the tallest Child element
						if(subHeight<$(this).outerHeight(true)){
							subHeight = $(this).outerHeight(true);
						}
					});
					
					var book_mask=parseInt(jQuery(".bookingmask").css("top").split("px"));
					var specai_rotator=parseInt(jQuery(".specialsRotator").css("top").split("px"));
										
					if( $(this).hasClass("active") && animating!=true ){
				   		$(this).removeClass("active");
				   		animating = true;
					    $(this).children("ul").stop().animate({
					    	height : '0',
				    	}, 200, function() {
				    		animating = false;
				    	});
						
					    jQuery(".bookingmask").removeAttr("style");
					    jQuery(".specialsRotator").removeAttr("style");
						
					}else{
						$(this).addClass("active");
						if($(this).siblings(".has-submenu").hasClass("active") ){
						    $(this).siblings(".has-submenu").removeClass("active");
						    $(this).siblings(".has-submenu").children("ul").stop().animate({
						    	height : 0
					    	},200);
					    }
					    animating = true;
						
						jQuery(".bookingmask").animate({top: book_mask+30 },200);
						jQuery(".specialsRotator").animate({top: specai_rotator+30 },200);
						
						
					    $(this).children("ul").stop().animate({
					    	height : subHeight,
				    	}, 200, function() {
				    		animating = false;
				    	});
				   	}
				} else { // If layout is Mobile
					if($(this).hasClass("active")){
						$(this).removeClass("active");
							$(this).find("> .menuLevel2").animate({height:0});
					}else{
							subHeight=0;
							$(this).addClass("active");
							$(this).find("> .menuLevel2").children().each(function(){ subHeight += $(this).outerHeight(); }); // Used to set menuLevel2 height equal to combined height of all child <li>
							$(this).find("> .menuLevel2").animate({height:subHeight});
					}
				}
		});

		$(subMenu).children(".menuLevel2").click(function(e){ // This stops the Child <li> from firing the Parent's click event
			e.stopPropagation();
		});

		// HOVER SUBMENU ANIMATION FOR DESKTOP
		function hoverOver() {
			if( $(this).hasClass('active') ) {} else {
					$(this).trigger('click');
				}
		}
		function hoverOut() {
			if( !($(this).hasClass('active')) ) {} else {
					$(this).trigger('click');
				}
		}

		// Mobile Navigation
		$('.icon-menu').click(function() {
			$(this).parents().eq(2).addClass("menu-open");
			$(subMenu).removeClass("active");
			$(subMenu).find("> .menuLevel2").css("height",0);
		});

		$('.closed-nav-mob').click(function() {
			$(this).parents().eq(1).removeClass("menu-open");
			$(subMenu).removeClass("active");
			$(subMenu).find("> .menuLevel2").css("height",0);
			$(mainMenu).removeClass("open");
		});

		/****************************************************************************************************************
		*  MENU NAVIGATION SCRIPTS - END
		*****************************************************************************************************************/


		/*****	BOOKING MASK	*****/
		// To enable special backgrounds on form select elements
		$('#rooms').uniform();
		$('#adults').uniform();
		$("#mod_flexibleForms select").uniform();

		/****************************************************************************************************************
		*  FUNCTION THAT WILL SCROLL DOWN TO ITEM AND EXPAND
		*****************************************************************************************************************/

		function gotoItem(){
			loc = window.location.hash.substring(1);
			itemLocation = "#item" + loc;
			if(loc){
				if($(itemLocation).length!=0){
					accordionHeight = 0;
					fixTop = $(itemLocation).offset().top;
					$(itemLocation).prevAll().each(function() {
						accordionHeight += $(this).outerHeight() ;
					});
											$(window).load(function() {
							if($(itemLocation).find('.accordionTitleModule').length!=0){
								if(!($(itemLocation).hasClass('selected'))){
									$(itemLocation).find('.accordionTitleModule').trigger('click');
								}
								$('html,body').stop().animate({scrollTop: (fixTop - accordionHeight)}, 500);
							}
							// else if($(itemLocation).find('.accordionTitleItem').length!=0){
							// 	$(itemLocation).find('.accordionTitleItem').trigger('click');
							// 	$('html,body').stop().animate({scrollTop: (fixTop - accordionHeight)}, 500);
							// }
						});
									}
			}
		}

		gotoItem();

			$('a.learnMore').click(function(){ // Executes when navigating to package while already on special-offers page
			if( window.location.href.replace(location.hash,"") ==  $(this).attr('href').substring(0,$(this).attr('href').indexOf('#')) ) { // If the Item is on the current page
				window.location.href = $(this).attr('href');
				location.reload();
			}
		});

		/****************************************************************************************************************
		*  gotoItem FUNCTION - END
		*****************************************************************************************************************/

		/********************** Accordion Start **********************/
			$(".accordion-content").hide();
		$(".selected .accordion-content").show();
		$(".accordionTitleModule").click(function(){
			if($(this).parents().eq(3).is("#mod_pukkaSimpleRooms") && $("#layout").css("float")=="none" || $(this).parents().eq(3).is("#mod_pukkaActivities") && $("#layout").css("float")=="none"){
				console.log("Nope");
				return false;
			}else{
				if($(this).parent().hasClass('selected')){
					$(this).parent().removeClass('selected').find('.accordion-content').slideUp();
				} else {
					$(this).parent().addClass('selected').find('.accordion-content').slideDown();
											$(this).parent().siblings('.itemPreview, .gallery, .category').removeClass('selected').find('.accordion-content').slideUp();
									}
			}
		});
			/********************** Accordion End **********************/

		/****************************************************************************************************************
		*  FUNCTION ON WINDOW RESIZE - START
		*****************************************************************************************************************/

		$(window).ready(resizeSomeStuff);
		$(window).resize(resizeSomeStuff);

		function resizeSomeStuff (){ // This function controls events that will need to be executed when the window is resized
		// PUT THINGS TO BE CHANGED ON RESIZE IN HERE

			// Create "layout" variable that is given value "desktop", "tablet", or "mobile" based on current Media Query applied to layout
			if($("#layout").css("float")=="left"){
				layout = "desktop";
			}
			if($("#layout").css("float")=="right"){
				layout = "tablet";
			}
			if($("#layout").css("float")=="none") {
				layout = "mobile";
			}

			if(layout=="mobile"){
				$("body").addClass("mobile-layout");
			}
			// ENABLE/DISABLE HOVERINTENT
			if(layout!="mobile") { // Enables hoverIntent on Desktop and Tablet layouts
				var config = {over: hoverOver,timeout: 600,interval: 50,out: hoverOut} // IMPORTANT - timeout controls the time it takes for mouseLeave event to trigger when user moves away from menu
				$(subMenu).hoverIntent( config );
			}else{
				$(subMenu).off("mouseenter").off("mouseleave");
			}

			// REPOSITION MAIN MENU ON MOBILE VIEW
			if (layout=="mobile") {
									if( $(mainMenu).parent("#header").length == 1 ) { // If Main Nav is not already prepended to #content
						$(mainMenu).insertBefore(".specialsRotator"); // Places Main Nav at top of #content <div>
					}
							} else {
				if($("body").hasClass("menu-open")){$("body").removeClass("menu-open");}
				$(mainMenu).appendTo("#header"); // Places Main Nav in #header <div>
				if ( $(subMenu).hasClass("active") ) {
					$(subMenu).removeClass("active");
					$(subMenu).children("ul").css("height",0);
				}
			}

			//PAGE SPECIFIC FUNCTIONS
			
		}
		
		jQuery('.accordionTitleModule').click(function(){
			jQuery(this).bind('click', function(){
				jQuery(this).next('.accordion-content').find('.resp-tab-item').css({'display': 'inline-block'});
			});
		});

		/****************************************************************************************************************
		*  FUNCTION ON WINDOW RESIZE - END
		*****************************************************************************************************************/
	});
//]]>
});
})(jQuery);
</script>
</body>
</html><!-- Served from Cache -->